<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>学员消课</title>
    <script type="application/javascript" src="/static/js/hualalaConsumeHours.js"></script>
    <link type="text/css" rel="stylesheet" href="/static/css/import_order.css">
</head>
<body style="overflow: hidden;">
<div class="modal-overlay"></div>
<h1 style="color: #08A993;margin-left: 20px;">画啦啦学员消课</h1>
    <form id="submitorder" onsubmit="event.preventDefault(); ConsumeHours();">
    <div data-v-08df61ed="" class="app-main el-wrapper-box el-form el-form--inline el-form-item el-form-item--medium">
            <label class="el-form-item__label"><span data-v-492e78dd="" class="red">*</span>请输入学员ID：</label>
                <div class="el-form-item__content">
                <div data-v-08df61ed="" class="el-input el-input--medium el-input--suffix"><!---->
                    <input id="mobile" type="number" name="mobile"  autocomplete="off" placeholder="学员ID" class="el-input__inner" required><!----><!----><!----><!---->
                </div><!---->
            </div>
        </div>
        <div data-v-492e78dd="" data-v-58c9b7b8="" class="el-wrapper-box packageManagement">
            <div data-v-492e78dd="" class="select-box mb-15"><!---->
                <div data-v-492e78dd="" class="select-item">
                    <span data-v-492e78dd="" class="title"><span data-v-492e78dd="" class="red">*</span>选择学员的环境：</span>
                    <div data-v-492e78dd="" role="radiogroup" class="el-radio-group bor" id="choose_env">
                        <label data-v-492e78dd="" role="radio" aria-checked="true" tabindex="0" class="el-radio-button el-radio-button--small is-active">
                            <input type="radio" tabindex="-1" autocomplete="off" class="el-radio-button__orig-radio" name="choose_url" value="test" checked>
                            <span class="el-radio-button__inner">UAT环境<!----></span></label>
                        <label data-v-492e78dd="" role="radio" tabindex="-1" class="el-radio-button el-radio-button--small">
                            <input type="radio" tabindex="-1" autocomplete="off" class="el-radio-button__orig-radio" name="choose_url" value="pre">
                            <span class="el-radio-button__inner">预发布环境<!----></span></label>
                    </div>
                </div>
                <div data-v-492e78dd="" class="select-item">
                    <span data-v-492e78dd="" class="title"><span data-v-492e78dd="" class="red">*</span>课程类型：</span>
                    <div data-v-492e78dd="" role="radiogroup" class="el-radio-group bor">
                     <label data-v-492e78dd="" role="radio" tabindex="-1" class="el-radio-button el-radio-button--small">
                                        <input id="course1" type="radio" tabindex="-1" autocomplete="off" class="el-radio-button__orig-radio" value="0" name="choose_sku" checked>
                                        <span class="el-radio-button__inner">正式课<!----></span></label>
                     <label data-v-492e78dd="" role="radio" tabindex="-1" class="el-radio-button el-radio-button--small">
                        <input id="course2" type="radio" tabindex="-1" autocomplete="off" class="el-radio-button__orig-radio" value="8" name="choose_sku">
                        <span class="el-radio-button__inner">系列专题课<!----></span></label>
                     <label data-v-492e78dd="" role="radio" tabindex="-1" class="el-radio-button el-radio-button--small">
                        <input id="course3" type="radio" tabindex="-1" autocomplete="off" class="el-radio-button__orig-radio" value="11" name="choose_sku">
                        <span class="el-radio-button__inner">活动课<!----></span></label>
                     <label data-v-492e78dd="" role="radio" tabindex="-1" class="el-radio-button el-radio-button--small">
                        <input id="course4" type="radio" tabindex="-1" autocomplete="off" class="el-radio-button__orig-radio" value="10" name="choose_sku">
                        <span class="el-radio-button__inner">名师拓展课<!----></span></label>                 <label data-v-492e78dd="" role="radio" tabindex="-1" class="el-radio-button el-radio-button--small">
                        <input id="course5" type="radio" tabindex="-1" autocomplete="off" class="el-radio-button__orig-radio" value="12" name="choose_sku">
                        <span class="el-radio-button__inner">强化课<!----></span></label><!--                    <label data-v-492e78dd="" role="radio" tabindex="-1" class="el-radio-button el-radio-button&#45;&#45;small">-->
                    </div>
                </div>
            </div>
        </div>
    <br>
<button style="margin-left: 40px;"  type="submit" value="确认消课"
         class="el-button el-button--success el-button--small"><!---->
<!--<button style="margin-left: 40px;"  id="submitorder" name="submitorder" type="submit" value="确认消课" onClick="ConsumeHours()" type="button"-->
<!--        style="margin-left: 20px;" class="el-button el-button&#45;&#45;success el-button&#45;&#45;small">&lt;!&ndash;&ndash;&gt;-->
    <!----><span>确认消课</span>
</button>
<p style="margin-left: 40px;" >请求结果：</p>
<div id="result" style="margin-left: 40px;width: 500px;height:200px;"></div>
    </form>
</body>
</html>