<!DOCTYPE html>
<html lang="en">

    <head>
        <title>业务系统-测试工具集成平台</title>
      	<link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
	    <script src="https://cdn.staticfile.org/jquery/2.1.1/jquery.min.js"></script>
	    <script src="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
        <link type="text/css" rel="stylesheet" href="/static/css/index.css">
        <meta charset="utf-8">
        <script src="http://code.jquery.com/jquery-1.8.0.min.js"></script>

    </head>

    <body style="background-color: #F5F5F5">
<!--        <div class="header">-->
<!--          <h1>测试工具集成平台</h1>-->
<!--        </div>-->
        <div class="userWrap">
            <div class="userMenu">
               <ul class="nav nav-pills nav-stacked" style="width:96%;margin: 0 auto; text-align:center" >
<!--                <li class="current" data-id="center"><a href="{{ url_for('order_V2.orderV2PackgeHtml') }}" target="iframe_a"><span class="glyphicon glyphicon-share-alt"> 导入非益智套餐订单</span></a></li>-->
<!--                    <br>-->
<!--                    <li class="current" data-id="center"><a href="{{ url_for('order_V1.orderV1PackgeHtml') }}" target="iframe_a"><span class="glyphicon glyphicon-share-alt"> 导入益智套餐订单</span></a></li>-->
<!--                    <br>-->
<!--                    <li><a href="{{ url_for('order_refund.refundOrderHtml') }}" rel="external nofollow" target="iframe_a"><span class="glyphicon glyphicon-flash"> 益智订单退款</span></a></li>-->
<!--                    <br>-->
<!--                    <li><a href="{{ url_for('icode_sms.icodeSms') }}" target="iframe_a"><span class="glyphicon glyphicon-hand-right"> 查询验证码</span></a></li>-->
<!--                    <br>-->
<!--                    <li><a href="{{ url_for('getSign_api.getSign_apiHtml') }}" target="iframe_a"><span class="glyphicon glyphicon-star-empty"> 网关接口</span></a></li>-->
<!--                   <br>-->
<!--                   <li><a href="{{ url_for('wandou_unbindWechat.unbindWechatHtml') }}" target="iframe_a"><span class="glyphicon glyphicon-star-empty"> 微信解绑 </span></a></li>-->
                   <br>
                   <li><a href="{{ url_for('hualala_update_userinfo.hualalaUpdateUserinfoHtml') }}" rel="external nofollow" target="iframe_a"><span class="glyphicon glyphicon-flash"> 画啦啦修改学员信息</span></a></li>
                   <br>
<!--                   <li><a href="{{ url_for('hualala_coming.hualalComingHtml') }}" rel="external nofollow" target="iframe_a"><span class="glyphicon glyphicon-flash"> 画啦啦学员进线</span></a></li>-->
<!--                   <br>-->
                   <li><a href="{{ url_for('hualala_import_order.hualalaImportOrderHtml') }}" rel="external nofollow" target="iframe_a"><span class="glyphicon glyphicon-flash"> 画啦啦学员购课</span></a></li>
                   <br>
                   <li><a href="{{ url_for('hualala_consume_hours.hualalaConsumeHoursHtml') }}" rel="external nofollow" target="iframe_a"><span class="glyphicon glyphicon-flash"> 画啦啦学员消课</span></a></li>
                   <br>
                   <li><a href="{{ url_for('dm_gubi.UpdateUserOpenclasstimeHtml') }}" rel="external nofollow" target="iframe_a"><span class="glyphicon glyphicon-flash"> DM系统-咕比相关</span></a></li>
               </ul>
            </div>
            <div id="content">
                <iframe id="menuFrame"  src="/hualala_update_userinfo/py/hualala_update_userinfo" width="90%"  frameborder="1" scrolling="yes" name="iframe_a"></iframe>
                <script type="text/javascript" src="/static/js/index.js"></script>
            </div>
        </div>
    </body>
</html>