<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>豌豆学员进线</title>
    <script type="application/javascript" src="/static/js/wandouComing.js"></script>
        <link type="text/css" rel="stylesheet" href="/static/css/import_order.css">
</head>
<body style="height:auto;overflow: hidden;">
<div class="modal-overlay"></div>
<h1 style="color: #08A993;margin-left: 20px;">豌豆学员领课进线</h1>
<br>

<div data-v-492e78dd="" class="el-wrapper-box packageManagement select-box mb-15 select-item">
    <label class="el-form-item__label"><span data-v-492e78dd="" class="red">*</span>选择学员的环境：</label>
    <div data-v-492e78dd="" role="radiogroup" class="el-radio-group bor" id="choose_env">
        <label data-v-492e78dd="" role="radio" aria-checked="true" tabindex="0"
               class="el-radio-button el-radio-button--small is-active">
            <input type="radio" tabindex="-1" autocomplete="off" class="el-radio-button__orig-radio" name="choose_url"
                   value="test" checked>
            <span class="el-radio-button__inner">UAT环境<!----></span></label>
        <label data-v-492e78dd="" role="radio" tabindex="-1" class="el-radio-button el-radio-button--small">
            <input type="radio" tabindex="-1" autocomplete="off" class="el-radio-button__orig-radio" name="choose_url"
                   value="pre">
            <span class="el-radio-button__inner">预发布环境<!----></span></label>
    </div>
</div>

<br>
<div data-v-492e78dd="" class="el-wrapper-box packageManagement select-box mb-15 select-item">
    <label class="el-form-item__label"><span data-v-492e78dd="" class="red">*</span>选择进线的学科：</label>
    <div data-v-492e78dd="" role="radiogroup" class="el-radio-group bor" id="choose_subject">
        <label data-v-492e78dd="" role="radio" aria-checked="true" tabindex="0"
               class="el-radio-button el-radio-button--small is-active">
            <input type="radio" tabindex="-1" autocomplete="off" class="el-radio-button__orig-radio" name="choose_subject"
                   value="VIP_WanDou" checked>
            <span class="el-radio-button__inner">益智<!----></span></label>
        <label data-v-492e78dd="" role="radio" tabindex="-1" class="el-radio-button el-radio-button--small">
            <input type="radio" tabindex="-1" autocomplete="off" class="el-radio-button__orig-radio" name="choose_subject"
                   value="VIP_YuWen">
            <span class="el-radio-button__inner">口才<!----></span></label>
        <label data-v-492e78dd="" role="radio" tabindex="-1" class="el-radio-button el-radio-button--small">
            <input type="radio" tabindex="-1" autocomplete="off" class="el-radio-button__orig-radio" name="choose_subject"
                   value="VIP_MoLi">
            <span class="el-radio-button__inner">魔力耳朵<!----></span></label>
        <label data-v-492e78dd="" role="radio" tabindex="-1" class="el-radio-button el-radio-button--small">
            <input type="radio" tabindex="-1" autocomplete="off" class="el-radio-button__orig-radio" name="choose_subject"
                   value="VIP_MagicCambridge">
            <span class="el-radio-button__inner">魔力剑桥<!----></span></label>
        <label data-v-492e78dd="" role="radio" tabindex="-1" class="el-radio-button el-radio-button--small">
            <input type="radio" tabindex="-1" autocomplete="off" class="el-radio-button__orig-radio" name="choose_subject"
                   value="VIP_XinLi">
            <span class="el-radio-button__inner">心理<!----></span></label>
        <label data-v-492e78dd="" role="radio" tabindex="-1" class="el-radio-button el-radio-button--small">
            <input type="radio" tabindex="-1" autocomplete="off" class="el-radio-button__orig-radio" name="choose_subject"
                   value="VIP_ALL">
            <span class="el-radio-button__inner">全部学科<!----></span></label>
    </div>
</div>
<br>

<!--<div  style="height: 60px;" data-v-492e78dd="" class="el-wrapper-box packageManagement select-box mb-15 select-item">-->
<!--    <label class="el-form-item__label"><span data-v-492e78dd="" class="red">*</span>选择进线的形式：</label>-->
<!--    <la data-v-492e78dd="" role="radiogroup" class="el-radio-group bor" id="choose_coming_type">-->
<!--        <label data-v-492e78dd="" role="radio" aria-checked="true" tabindex="0"-->
<!--               class="el-radio-button el-radio-button&#45;&#45;small is-active">-->
<!--            <input type="radio" tabindex="-1" autocomplete="off" class="el-radio-button__orig-radio" name="choose_coming_type"-->
<!--                   value="general" checked>-->
<!--            <span class="el-radio-button__inner">普通进线&lt;!&ndash;&ndash;&gt;</span></label>-->
<!--        <label data-v-492e78dd="" role="radio" tabindex="-1" class="el-radio-button el-radio-button&#45;&#45;small">-->
<!--            <input type="radio" tabindex="-1" autocomplete="off" class="el-radio-button__orig-radio" name="choose_coming_type"-->
<!--                   value="introduce">-->
<!--            <span class="el-radio-button__inner">转介绍进线&lt;!&ndash;&ndash;&gt;</span></label>-->
<!--    </la>-->
<!--        <label style="margin-top: 3px; top: 4px; " data-v-492e78dd="" role="radio" tabindex="-1" class="el-radio-button el-radio-button&#45;&#45;small1">-->
<!--            <div id="inviter_phone" style="display: none" data-v-08df61ed="" class="el-input&#45;&#45;medium1 el-input&#45;&#45;suffix">&lt;!&ndash;&ndash;&gt;-->
<!--                <input id="inviter_mobile" type="number" name="mobile"  autocomplete="off" maxlength="11" placeholder="上级邀请人的手机号" oninput="limitInputLength(this)" class="el-input__inner">-->
<!--            </div>&lt;!&ndash;&ndash;&gt;-->
<!--        </label>-->
<!--</div>-->
<div  style="height: 60px;" data-v-492e78dd="" class="el-wrapper-box packageManagement select-box mb-15 select-item">
    <label class="el-form-item__label"><span data-v-492e78dd="" class="red">*</span>选择进线的方式：</label>
    <la data-v-492e78dd="" role="radiogroup" class="el-radio-group bor" id="choose_type">
        <label data-v-492e78dd="" role="radio" aria-checked="true" tabindex="0"
               class="el-radio-button el-radio-button--small is-active">
            <input type="radio" tabindex="-1" autocomplete="off" class="el-radio-button__orig-radio" name="coming_type"
                   value="random" checked>
            <span class="el-radio-button__inner">随机号码进线<!----></span></label>
        <label data-v-492e78dd="" role="radio" tabindex="-1" class="el-radio-button el-radio-button--small">
            <input type="radio" tabindex="-1" autocomplete="off" class="el-radio-button__orig-radio" name="coming_type"
                   value="appoint">
            <span class="el-radio-button__inner">指定手机号进线<!----></span></label>
    </la>
        <label style="margin-top: 3px; top: 4px; " data-v-492e78dd="" role="radio" tabindex="-1" class="el-radio-button el-radio-button--small1">
            <div id="telphone" style="display: none" data-v-08df61ed="" class="el-input--medium1 el-input--suffix"><!---->
                <input id="areaCode" style="width:80px"  type="number" name="mobile"  autocomplete="off" maxlength="11" placeholder="区号" oninput="validateInput(event)" value="86" class="el-input__inner">
                <input id="mobile" type="number" name="mobile"  autocomplete="off" maxlength="11" placeholder="学员手机号" oninput="limitInputLength(this)" class="el-input__inner">
            </div><!---->
            <div id="coming_num" style="display: block,flex" data-v-08df61ed="" class="el-input--medium1 el-input--suffix"><!---->
                <span style="width:100px;font-size: 12px;color: grey;" class="">*进线学员数量:</span>
                <input id="coming_number" style="width:100px" type="number" name="coming_number"  autocomplete="off" maxlength="11" placeholder="进线学员数量" oninput="validateInput(event)" class="el-input__inner" value="1">
            </div><!---->
        </label>
</div>
<div  style="height: 60px;"   data-v-492e78dd="" class="el-wrapper-box packageManagement select-box mb-15 select-item">
    <label class="el-form-item__label"><span data-v-492e78dd="" class="red">*</span>选择进线的形式：</label>
    <la data-v-492e78dd="" role="radiogroup" class="el-radio-group bor" id="choose_coming_type">
        <label data-v-492e78dd="" role="radio" aria-checked="true" tabindex="0"
               class="el-radio-button el-radio-button--small is-active">
            <input type="radio" tabindex="-1" autocomplete="off" class="el-radio-button__orig-radio" name="choose_coming_type"
                   value="general" checked>
            <span class="el-radio-button__inner">普通进线<!----></span></label>
        <label data-v-492e78dd="" id="choose_introduce_coming" role="radio" tabindex="-1" class="el-radio-button el-radio-button--small">
            <input type="radio" tabindex="-1" autocomplete="off" class="el-radio-button__orig-radio" name="choose_coming_type"
                   value="introduce">
            <span class="el-radio-button__inner">转介绍进线<!----></span></label>
    </la>
        <label style="margin-top: 3px; top: 4px; " data-v-492e78dd="" role="radio" tabindex="-1" class="el-radio-button el-radio-button--small1">
            <div id="inviter_phone" style="display: none" data-v-08df61ed="" class="el-input--medium1 el-input--suffix">
                <span style="width:150px;font-size: 12px;color: grey;" class="">*邀请人大用户id:</span>
                <input id="inviter_mobile" style="width:130px" type="number" name="mobile"  autocomplete="off" maxlength="11" placeholder="邀请人的大用户id" oninput="limitInputLength(this)" class="el-input__inner" value="12231874">
            </div>
        </label>
</div>
<div  style="height: 60px;"  data-v-492e78dd="" class="el-wrapper-box packageManagement select-box mb-15 select-item">
    <label class="el-form-item__label"><span data-v-492e78dd="" class="red">*</span>选择进线的渠道：</label>
    <la data-v-492e78dd="" role="radiogroup" class="el-radio-group bor" id="choose_channel">
        <label data-v-492e78dd="" role="radio" aria-checked="true" tabindex="0"
               class="el-radio-button el-radio-button--small is-active">
            <input type="radio" tabindex="-1" autocomplete="off" class="el-radio-button__orig-radio" name="choose_channel"
                   value="random" checked>
            <span class="el-radio-button__inner">默认渠道<!----></span></label>
        <label data-v-492e78dd="" id="choose_coming_channel" role="radio" tabindex="-1" class="el-radio-button el-radio-button--small">
            <input type="radio" tabindex="-1" autocomplete="off" class="el-radio-button__orig-radio" name="choose_channel"
                   value="appoint">
            <span class="el-radio-button__inner">指定渠道<!----></span></label>
    </la>
        <label style="margin-top: 3px; top: 4px; " data-v-492e78dd="" role="radio" tabindex="-1" class="el-radio-button el-radio-button--small1">
            <div id="channel_id" style="display: none" data-v-08df61ed="" class="el-input--medium1 el-input--suffix"><!---->
                <span style="width:100px;font-size: 12px;color: grey;" class="">*渠道id:</span>
                <input id="channel_number" style="width:130px" type="number" name="channel_number"  autocomplete="off" maxlength="11" placeholder="进线渠道" oninput="validateInput(event)" class="el-input__inner" value="1">
            <button id="submit_channel_id" name="submit_channel_id" type="submit" value="进线" onClick="update_channel()"  style="margin-left: 20px;" class="el-button el-button--success el-button--small"><!----><!----><span>确认更新</span></button>
            <span style="margin-left: 10px;font-size: 12px;color: grey;">*仅益智和口才学科有效</span>
            </div><!---->
        </label>
</div>
<button id="submitorder" name="submitorder" type="submit" value="进线" onClick="coming()" type="button" style="margin-left: 20px;" class="el-button el-button--success el-button--small"><!----><!----><span>学员进线</span></button>
<span style="margin-left: 10px;font-size: 12px;color: grey;">*需等待几分钟，学员才会进线至对应学科的CC工作台~</span>
<p style="margin-left: 20px;" >请求结果：</p>
<div id="result" style="margin-left: 40px;width: 1000px;height:200px;"></div>
</body>
</html>